* {
    font-family: Poppins, serif;
}

.parte-principal {
    background-color:#082C5B;
    margin: 0;
    padding:40px;
}

.container-texto {
    color: white;
    margin: 0;
    padding:0;
}

.container-botao {
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 15px;
}
.btn-voltar {
    background-color: #F37500;
    color: #082C5B;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}